

#autorizado{
    display: none;
}

#nao-autorizado{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
}

label{
    margin-bottom: 5px;
}

button{
    margin-top: 15px;
}